<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{nombre}} {{a_paterno}} {{a_materno}}</h1>
    <h3>Bienvenido al blog del equipo 7</h3>
    <p>Para completar tu registro sigue el siguiente enlace: </p>
    <a href="{{url}}/registro/{{clave}}/">{{url}}/registro/{{clave}}/</a>
    <p>Sí tú no te registraste en nuestra página as coso omiso de este mensaje</p>
</body>
</html>